@import "tailwindcss";

@theme {
  --color-primary: #624e39;
  --color-secondary: #50573d;
  --color-bg-inverted: #18181b;
  --color-text-highlighted: #18181b;
  --color-text-toned: #52525b;
  --color-warning: #efb100;
  --color-ui-border: #e4e4e7;
  --color-primary-50: #f7f6f5;
  --color-primary-100: #f0eeec;
  --color-primary-200: #e3dfdb;
  --color-primary-800: #73614f;
  --color-secondary-50: #f6f7f4;
  --color-secondary-200: #dee0d8;
  --color-secondary-600: #798360;
  --color-secondary-700: #5f6849;
}

body {
  background-color: var(--color-primary-50);
  color: var(--color-text-highlighted);
}
